TaqNShare/Service References/TaqnshareReference/service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceTaqnshare" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServeurTaqnshare" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServeurTaqnshare.ClasseDeService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServiceTaqnshare_EnregistrerScore_InputMessage">
    <wsdl:part name="parameters" element="tns:EnregistrerScore" />
  </wsdl:message>
  <wsdl:message name="ServiceTaqnshare_EnregistrerScore_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnregistrerScoreResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceTaqnshare_CreerDefi_InputMessage">
    <wsdl:part name="parameters" element="tns:CreerDefi" />
  </wsdl:message>
  <wsdl:message name="ServiceTaqnshare_CreerDefi_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreerDefiResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceTaqnshare_RecupererDefi_InputMessage">
    <wsdl:part name="parameters" element="tns:RecupererDefi" />
  </wsdl:message>
  <wsdl:message name="ServiceTaqnshare_RecupererDefi_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecupererDefiResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceTaqnshare_RecupererClassement_InputMessage">
    <wsdl:part name="parameters" element="tns:RecupererClassement" />
  </wsdl:message>
  <wsdl:message name="ServiceTaqnshare_RecupererClassement_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecupererClassementResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceTaqnshare_RecupererRangJoueur_InputMessage">
    <wsdl:part name="parameters" element="tns:RecupererRangJoueur" />
  </wsdl:message>
  <wsdl:message name="ServiceTaqnshare_RecupererRangJoueur_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecupererRangJoueurResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceTaqnshare_RecupererScoreJoueur_InputMessage">
    <wsdl:part name="parameters" element="tns:RecupererScoreJoueur" />
  </wsdl:message>
  <wsdl:message name="ServiceTaqnshare_RecupererScoreJoueur_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecupererScoreJoueurResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceTaqnshare_ModifierDefi_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifierDefi" />
  </wsdl:message>
  <wsdl:message name="ServiceTaqnshare_ModifierDefi_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifierDefiResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceTaqnshare_RecupererDefisEnAttente_InputMessage">
    <wsdl:part name="parameters" element="tns:RecupererDefisEnAttente" />
  </wsdl:message>
  <wsdl:message name="ServiceTaqnshare_RecupererDefisEnAttente_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecupererDefisEnAttenteResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceTaqnshare_RecupererDefisUtilisateur_InputMessage">
    <wsdl:part name="parameters" element="tns:RecupererDefisUtilisateur" />
  </wsdl:message>
  <wsdl:message name="ServiceTaqnshare_RecupererDefisUtilisateur_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecupererDefisUtilisateurResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceTaqnshare_DeclinerDefi_InputMessage">
    <wsdl:part name="parameters" element="tns:DeclinerDefi" />
  </wsdl:message>
  <wsdl:message name="ServiceTaqnshare_DeclinerDefi_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeclinerDefiResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceTaqnshare">
    <wsdl:operation name="EnregistrerScore">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceTaqnshare/EnregistrerScore" message="tns:ServiceTaqnshare_EnregistrerScore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceTaqnshare/EnregistrerScoreResponse" message="tns:ServiceTaqnshare_EnregistrerScore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreerDefi">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceTaqnshare/CreerDefi" message="tns:ServiceTaqnshare_CreerDefi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceTaqnshare/CreerDefiResponse" message="tns:ServiceTaqnshare_CreerDefi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecupererDefi">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceTaqnshare/RecupererDefi" message="tns:ServiceTaqnshare_RecupererDefi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceTaqnshare/RecupererDefiResponse" message="tns:ServiceTaqnshare_RecupererDefi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecupererClassement">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceTaqnshare/RecupererClassement" message="tns:ServiceTaqnshare_RecupererClassement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceTaqnshare/RecupererClassementResponse" message="tns:ServiceTaqnshare_RecupererClassement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecupererRangJoueur">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceTaqnshare/RecupererRangJoueur" message="tns:ServiceTaqnshare_RecupererRangJoueur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceTaqnshare/RecupererRangJoueurResponse" message="tns:ServiceTaqnshare_RecupererRangJoueur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecupererScoreJoueur">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceTaqnshare/RecupererScoreJoueur" message="tns:ServiceTaqnshare_RecupererScoreJoueur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceTaqnshare/RecupererScoreJoueurResponse" message="tns:ServiceTaqnshare_RecupererScoreJoueur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifierDefi">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceTaqnshare/ModifierDefi" message="tns:ServiceTaqnshare_ModifierDefi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceTaqnshare/ModifierDefiResponse" message="tns:ServiceTaqnshare_ModifierDefi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecupererDefisEnAttente">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceTaqnshare/RecupererDefisEnAttente" message="tns:ServiceTaqnshare_RecupererDefisEnAttente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceTaqnshare/RecupererDefisEnAttenteResponse" message="tns:ServiceTaqnshare_RecupererDefisEnAttente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecupererDefisUtilisateur">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceTaqnshare/RecupererDefisUtilisateur" message="tns:ServiceTaqnshare_RecupererDefisUtilisateur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceTaqnshare/RecupererDefisUtilisateurResponse" message="tns:ServiceTaqnshare_RecupererDefisUtilisateur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeclinerDefi">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceTaqnshare/DeclinerDefi" message="tns:ServiceTaqnshare_DeclinerDefi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceTaqnshare/DeclinerDefiResponse" message="tns:ServiceTaqnshare_DeclinerDefi_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ServiceTaqnshare" type="tns:ServiceTaqnshare">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnregistrerScore">
      <soap:operation soapAction="http://tempuri.org/ServiceTaqnshare/EnregistrerScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreerDefi">
      <soap:operation soapAction="http://tempuri.org/ServiceTaqnshare/CreerDefi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecupererDefi">
      <soap:operation soapAction="http://tempuri.org/ServiceTaqnshare/RecupererDefi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecupererClassement">
      <soap:operation soapAction="http://tempuri.org/ServiceTaqnshare/RecupererClassement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecupererRangJoueur">
      <soap:operation soapAction="http://tempuri.org/ServiceTaqnshare/RecupererRangJoueur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecupererScoreJoueur">
      <soap:operation soapAction="http://tempuri.org/ServiceTaqnshare/RecupererScoreJoueur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifierDefi">
      <soap:operation soapAction="http://tempuri.org/ServiceTaqnshare/ModifierDefi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecupererDefisEnAttente">
      <soap:operation soapAction="http://tempuri.org/ServiceTaqnshare/RecupererDefisEnAttente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecupererDefisUtilisateur">
      <soap:operation soapAction="http://tempuri.org/ServiceTaqnshare/RecupererDefisUtilisateur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeclinerDefi">
      <soap:operation soapAction="http://tempuri.org/ServiceTaqnshare/DeclinerDefi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceTaqnshare">
    <wsdl:port name="BasicHttpBinding_ServiceTaqnshare" binding="tns:BasicHttpBinding_ServiceTaqnshare">
      <soap:address location="http://192.168.1.15:8010/SERVER/ServicesWCF/ServiceTaqnshare.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>