TaqNShare/Service References/TaqnshareReference/ServeurTaqnshare.ClasseDeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServeurTaqnshare.ClasseDeService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServeurTaqnshare.ClasseDeService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUtilisateurService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UtilisateurService" nillable="true" type="tns:UtilisateurService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUtilisateurService" nillable="true" type="tns:ArrayOfUtilisateurService" />
  <xs:complexType name="UtilisateurService">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdUtilisateur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomUtilisateur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombrePartieUtilisateur" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrenomUtilisateur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScoreTotalUtilisateur" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UtilisateurService" nillable="true" type="tns:UtilisateurService" />
</xs:schema>