TaqNShare/Service References/TaqnshareReference/ServiceTaqnshare.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceTaqnshare" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.70:3891/ServiceTaqnshare.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.70:3891/ServiceTaqnshare.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceTaqnshare_GetIdUtilisateur_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdUtilisateur" />
  </wsdl:message>
  <wsdl:message name="IServiceTaqnshare_GetIdUtilisateur_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdUtilisateurResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTaqnshare_GetCoucou_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCoucou" />
  </wsdl:message>
  <wsdl:message name="IServiceTaqnshare_GetCoucou_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoucouResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTaqnshare_UploadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="IServiceTaqnshare_UploadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTaqnshare_GetImageFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageFile" />
  </wsdl:message>
  <wsdl:message name="IServiceTaqnshare_GetImageFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageFileResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceTaqnshare">
    <wsdl:operation name="GetIdUtilisateur">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTaqnshare/GetIdUtilisateur" message="tns:IServiceTaqnshare_GetIdUtilisateur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTaqnshare/GetIdUtilisateurResponse" message="tns:IServiceTaqnshare_GetIdUtilisateur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCoucou">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTaqnshare/GetCoucou" message="tns:IServiceTaqnshare_GetCoucou_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTaqnshare/GetCoucouResponse" message="tns:IServiceTaqnshare_GetCoucou_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTaqnshare/UploadFile" message="tns:IServiceTaqnshare_UploadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTaqnshare/UploadFileResponse" message="tns:IServiceTaqnshare_UploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImageFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTaqnshare/GetImageFile" message="tns:IServiceTaqnshare_GetImageFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTaqnshare/GetImageFileResponse" message="tns:IServiceTaqnshare_GetImageFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceTaqnshare" type="tns:IServiceTaqnshare">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetIdUtilisateur">
      <soap:operation soapAction="http://tempuri.org/IServiceTaqnshare/GetIdUtilisateur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCoucou">
      <soap:operation soapAction="http://tempuri.org/IServiceTaqnshare/GetCoucou" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/IServiceTaqnshare/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageFile">
      <soap:operation soapAction="http://tempuri.org/IServiceTaqnshare/GetImageFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceTaqnshare">
    <wsdl:port name="BasicHttpBinding_IServiceTaqnshare" binding="tns:BasicHttpBinding_IServiceTaqnshare">
      <soap:address location="http://192.168.1.70:3891/ServiceTaqnshare.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>