TaqNShare/Service References/TaqnshareReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceTaqnshare" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServiceTaqnshare_EnvoyerImage_InputMessage">
    <wsdl:part name="parameters" element="tns:EnvoyerImage" />
  </wsdl:message>
  <wsdl:message name="ServiceTaqnshare_EnvoyerImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnvoyerImageResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceTaqnshare_RecupererImage_InputMessage">
    <wsdl:part name="parameters" element="tns:RecupererImage" />
  </wsdl:message>
  <wsdl:message name="ServiceTaqnshare_RecupererImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecupererImageResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceTaqnshare">
    <wsdl:operation name="EnvoyerImage">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceTaqnshare/EnvoyerImage" message="tns:ServiceTaqnshare_EnvoyerImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceTaqnshare/EnvoyerImageResponse" message="tns:ServiceTaqnshare_EnvoyerImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecupererImage">
      <wsdl:input wsaw:Action="http://tempuri.org/ServiceTaqnshare/RecupererImage" message="tns:ServiceTaqnshare_RecupererImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServiceTaqnshare/RecupererImageResponse" message="tns:ServiceTaqnshare_RecupererImage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ServiceTaqnshare" type="tns:ServiceTaqnshare">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnvoyerImage">
      <soap:operation soapAction="http://tempuri.org/ServiceTaqnshare/EnvoyerImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecupererImage">
      <soap:operation soapAction="http://tempuri.org/ServiceTaqnshare/RecupererImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceTaqnshare">
    <wsdl:port name="BasicHttpBinding_ServiceTaqnshare" binding="tns:BasicHttpBinding_ServiceTaqnshare">
      <soap:address location="http://192.168.1.13:8010/SERVER/ServicesWCF/ServiceTaqnshare.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>