TaqNShare/Service References/TaqnshareReference/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServeurTaqnshare" />
  <xs:element name="EnvoyerImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imageByte" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="nomImage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnvoyerImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnvoyerImageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecupererImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nomImage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecupererImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecupererImageResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnregistrerScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServeurTaqnshare" minOccurs="0" name="utilisateurCourant" nillable="true" type="q1:Utilisateur" />
        <xs:element minOccurs="0" name="scorePartie" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnregistrerScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnregistrerScoreResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreerDefi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServeurTaqnshare" minOccurs="0" name="partieUtilisateur" nillable="true" type="q2:Defi" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServeurTaqnshare" minOccurs="0" name="compositionTaquin" nillable="true" type="q3:ArrayOfComposer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreerDefiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreerDefiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>